<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PiKVM</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div id="titlebar" data-focused="">
            <button class="drag"></button>
            <span id="title">PiKVM</span>
            <div class="controls">
                <button id="min">
                    <div class="inner">
                        <div
                            class="icon"
                            style="--icon: url(minimize.svg)"
                        ></div>
                    </div>
                </button>
                <button id="max">
                    <div class="inner">
                        <div
                            class="icon"
                            style="--icon: url(maximize.svg)"
                        ></div>
                    </div>
                </button>
                <button id="res">
                    <div class="inner">
                        <div
                            class="icon"
                            style="--icon: url(restore.svg)"
                        ></div>
                    </div>
                </button>
                <button id="close">
                    <div class="inner">
                        <div class="icon" style="--icon: url(close.svg)"></div>
                    </div>
                </button>
            </div>
        </div>
        <script>
            const tb = document.getElementById("titlebar");
            const max = document.getElementById("max");
            const res = document.getElementById("res");
            const min = document.getElementById("min");
            const close = document.getElementById("close");
            const title = document.getElementById("title");

            max.onclick = () => ui.send("window:maximise");
            res.onclick = () => ui.send("window:restore");
            min.onclick = () => ui.send("window:minimise");
            close.onclick = () => ui.send("window:close");

            // window state updates (buttons + title)
            ui.onState(async (state) => {
                console.log("Window state:", state);

                max.style.display = state.canMaximize
                    ? state.isMaximized
                        ? "none"
                        : "block"
                    : "none";

                res.style.display = state.canMaximize
                    ? state.isMaximized
                        ? "block"
                        : "none"
                    : "none";

                min.style.display = state.canMinimize ? "block" : "none";

                document.body.setAttribute(
                    "data-theme",
                    state.theme || "light"
                );
                console.log("Applied theme:", state.theme);

                const isOnOrigin = await ui.invoke("pikvm:connected-to-origin");
                if (!isOnOrigin) {
                    title.textContent = state.title || "PiKVM";
                    return;
                }

                const origin = await ui.invoke("pikvm:get-origin");
                const parsedOrigin = new URL(origin);
                const host = `${parsedOrigin.hostname}${
                    parsedOrigin.port ? `:${parsedOrigin.port}` : ""
                }`;

                title.textContent = `${state.title} - ${host}`;
            });
        </script>
    </body>
</html>
