[data-theme="dark"] {
    --bg-color: #000000;
    --fg-color: #ffffff;
    --border-color: #8383834c;
    --titlebar-active-bg: #2e2e32;
    --input-bg-color: #1e1e22;
    --input-border-color: #3a3a3f;
    --window-dividing-border: #000000;
}

[data-theme="light"] {
    --bg-color: #ffffff;
    --fg-color: #1c1c1c;
    --border-color: #7d7d7d5d;
    --titlebar-active-bg: #ffffff;
    --input-bg-color: #f0f0f5;
    --input-border-color: #cccccc;
    --window-dividing-border: #bcbcbc;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

body:not([data-maximized])::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px solid var(--border-color);
    border-top: 1px solid var(--window-dividing-border);
    z-index: 9999999999;
    border-radius: 0px 0px 12px 12px;
    pointer-events: none;
}

#app-keyboard-warning {
    display: none !important;
}

#login,
.start-box .start {
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 100% !important;
    border-radius: 0 !important;
    user-select: none !important;
}

#kvmd-node-host {
    user-select: text !important;
}

#login table {
    width: 100%;
}

#pikvm-desktop-stream-info {
    position: fixed;
    top: 20vh;
    right: 50%;
    transform: translate(50%, 50%) scale(1);
    z-index: 9999999999;
    padding: 0.25em 0.5em;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15),
        inset 0 0 0 1px rgba(128, 128, 128, 0.5);
    color: white;
    font-size: max(1vw, 14px);
    font-weight: bold;
    border-radius: 0.5em;
    backdrop-filter: blur(5px) saturate(150%);
    transition: opacity 0.3s ease, transform 0.25s ease;
    pointer-events: none;
    opacity: 1;
    display: none;
    font-variant-numeric: tabular-nums;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.35em;
    justify-content: center;
    visibility: hidden;
}

#pikvm-desktop-stream-info:not([data-visible]) {
    opacity: 0;
    transform: translate(50%, 50%) scale(0.9);
}

.media-status {
    display: flex;
    gap: 0.25em;
    margin-bottom: 0.25em;
}

.media-pill {
    padding: 0.25em 0.5em;
    border-radius: 4px;
    font-size: 0.75em;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.25);
    font-weight: bold;
}

#pikvm-desktop-transmitting-dots {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1em;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0.25em;
    z-index: 9999999999;
    pointer-events: none;
    visibility: hidden;
}

#pikvm-desktop-transmitting-dots .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    animation: transmitting-pulse 2s infinite ease-in-out;
}

@keyframes transmitting-pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
}

#pikvm-desktop-transmitting-dots .dot.audio {
    background-color: #3df859;
    border: 2px solid #145d1f;
    visibility: hidden;
}

#pikvm-desktop-transmitting-dots .dot.mic {
    background-color: #ff7800;
    border: 2px solid #5a2b01;
    visibility: hidden;
}

body[data-audio-transmitting="true"]
    #pikvm-desktop-transmitting-dots
    .dot.audio {
    visibility: visible;
}

body[data-mic-transmitting="true"] #pikvm-desktop-transmitting-dots .dot.mic {
    visibility: visible;
}
