[data-theme="dark"] {
    --bg-color: #000000;
    --fg-color: #ffffff;
    --border-color: #8383834c;
    --titlebar-active-bg: #2e2e32;
    --input-bg-color: #1e1e22;
    --input-border-color: #3a3a3f;
    --window-dividing-border: #000000;
}

[data-theme="light"] {
    --bg-color: #ffffff;
    --fg-color: #1c1c1c;
    --border-color: #7d7d7d5d;
    --titlebar-active-bg: #ffffff;
    --input-bg-color: #f0f0f5;
    --input-border-color: #cccccc;
    --window-dividing-border: #bcbcbc;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

body:not([data-maximized])::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px solid var(--border-color);
    border-top: 1px solid var(--window-dividing-border);
    z-index: 9999999999;
    border-radius: 0px 0px 12px 12px;
    pointer-events: none;
}

#app-keyboard-warning {
    display: none !important;
}

#login,
.start-box .start {
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 100% !important;
    border-radius: 0 !important;
    user-select: none !important;
}

#kvmd-node-host {
    user-select: text !important;
}

#login table {
    width: 100%;
}
